* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	color:#666666;
	font-family: "Alegreya Sans", "helvetica", "sans-serif";
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
}

a {
	color:inherit;
	text-decoration: none;
	font-style: normal;
}

p {
	margin: rem(0px);
}

ul {
	padding: 0;
	margin: 0;
}

ul li {
	list-style: none;
}

address {
text-decoration: none;
}

button {
	border: none;
	background: transparent;
	cursor: pointer;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	display: block;
	max-width: 100%;
}

footer {
	position: relative;
	width: 100%;
}

::before {
	z-index: 10;
}

::after {
	z-index: 10;
}

