//!Цвета
$white: #FFFFFF;
$dark: #292929;
$green:#497870; 
$grey:#666666;
	//!Фоновые цвета
	$bg-blue: #61C4D9;
	$bg-grey: #F2F5F4;
	$bg-lightGrey: #F8FAF9;

//!Шрифты
$baseFontSize: 18px;

//!Компоненты

//!Приоритеты
//навигационное меню справа
$z-fixed-menu: 100;