
.deliver {
	color: #365A49;
	position: relative;
	align-items: center;
	background-image: url(../../img/4_deliver/leaf.png), url(../../img/4_deliver/bgDeliver.jpg);
	background-repeat: no-repeat;
	background-position: right rem(10px) bottom rem(58px), 0 0;
	background-size: auto auto, cover;
	@include tablets {
		background-image: url(../../img/4_deliver/bgDeliver.jpg);
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: cover;
	}
	&::after {
		content: '';
		background-image: url(../../img/4_deliver/berry.png);
		background-size: contain;
		position: absolute;
    left: 5%;
		top: 78%;
		width: rem(47px);
		height: rem(47px);
		@include tablets {
			display: none;
		}
	}
	//декор Ежевика и листья справа вверху
	&::before{
		content: '';
		background-image: url(../../img/4_deliver/leafsAndBerry.png);
		background-size: contain;
		position: absolute;
		right: 0;
		top: -17%;
		width: rem(196px);
		height: rem(264px);
	}
}

.input-error {
	border-color: red;
}