//!Форма левая колонка
.form {
	display: flex;

	&__column {
		flex: 1;
		margin-right: rem(27px);

		&:last-child {
			margin-right: rem(0px);
		}
	}
	&__row {
		display: flex;
		margin-bottom: rem(14px);

	}
	&__label {
		flex: 1;
		margin-right: rem(14px);
		&:last-child {
			margin-right: rem(0px);
		}
	}
	&__input {
		width: 97%;
		padding: rem(18px) rem(11px);
		border: rem(3px) solid transparent;
		border-radius: rem(4px);
		&:focus {
			border: rem(3px) solid #DEE2BD;
			outline: none;
		}
		&--textarea {
			height: rem(157px);
			max-width: rem(450px);
			resize: none;
			margin-bottom: rem(23px);
		}
		}
	}

//!Форма правая колонка
.form {
	&__options {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: rem(11px);
	}
}