.hamburger {
	width: 26px;
	height: 5*3+6px;
	flex-direction: column;
	justify-content: space-between;
	display: none;
	&__plank {
		display: block;
		height: 4px;
		border-radius: 10px;
		background-color: #fff;
	}
	@include tablets {
		display: flex;
	}
}

.hamburger-overlay {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left:rem(-19px);
	width: 100vw;
	background: #313131;
	z-index: 999999;
	@include phones {
		left: rem(-10px);
	}
}

.hamburger-menu {
	position: relative;
	display: flex;
	width: 100vw;
	height: 100vh;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: rem(36px);
	line-height: rem(72px);
		&__list {
		height: rem(510px);
		display: flex;
		flex-direction: column;
		align-items: center;
}
}

.humburger-button {
	position: absolute;
	right: 5%;
	top: 3%;
		&:before, &:after {
		content: '';
		position: absolute;
		width: rem(20px);
		height: rem(20px);
		width: 4px;
		background-color: #fff;
	}
	&::before {
		transform: rotate(45deg);
	}
	&::after {
		transform: rotate(-45deg);
	}
}