.menu { 
	display: flex;
	// align-items: center;
	margin-right: rem(42px);
	&__list {
		display: flex;
		vertical-align: middle;
		justify-content: space-between;
		min-width: rem(641px);
		flex-wrap: wrap;
	}
	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: rem(27px);
		height: rem(30px);
		white-space: nowrap;
		&:last-child {
			margin-right: rem(0px);
		}
	}
	@include tablets {
		display: none;
	}
}
