.reviews {
	background: url(../../img/3_reviews/berries2.png) right 21px top 38px no-repeat;
	// height: 100vh;
	&__container {
		margin-top: 60px;
	}
		//декор слева внизу Ягоды
	&::after {
		content: url(../../img/3_reviews/berries1.png);
		position: absolute;
		bottom: -1075px;
		left: 0;
	}
	//декор слева внизу Лист
	&::before {
		content: url(../../img/3_reviews/pattern.png);
		position: absolute;
		bottom: -1114px;
		left: 0;
	}
}