.reviews {
	background-image: url(../../img/3_reviews/berries2.png);
	background-size: auto auto;
	background-position: right 21px top 38px;
	background-repeat: no-repeat;
	align-items: center;
		//декор слева внизу Ягоды
	&::after {
		content: url(../../img/3_reviews/berries1.png);
		position: absolute;
    bottom: -8%;
    left: 0;
	}
	//декор слева внизу Лист
	&::before {
		content: url(../../img/3_reviews/pattern.png);
		position: absolute;
    bottom: -15%;
    left: 0;
	}
}