.slider {
	// display: flex;
	// flex: 1;
	@include tablets {
		// margin-top: 25%;
		height: rem(800px);
		flex-direction: column;
		align-items: center;
	}
	&__item {
		display: flex;
		height: 60%;
		width: 100%;
		@include tablets {
			flex-direction: column;
			align-items: center;
			height: 100%;
	}
	}

	&__pic {
		width: rem(470px);
		height: rem(470px);
		margin-right: 6%;
		// background-image: url(../../img/2-2_slider/product_1.png);
		// background-size: contain;
		// background-position: center center;
		// background-repeat: no-repeat;
		// width: 75%;
		// height: 75%;
		@include tablets {
			width: 50%;
			// height: 50%;
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		// width: rem(380px);
		height: rem(486px);
		justify-content: flex-start;
		color: #151515;
	}
	&__menu {
		margin-bottom: rem(23px);
		width: rem(92px);
		&:hover .dropdownMenu {
			display: block;
		}
		@include tablets {
			display: none;
		}
	}
	&__text {
		margin-bottom: rem(24px);
		max-width: rem(368px);
		@include tablets {
			text-align: center;
			max-width: rem(528px);
		}
	}
	&__bottomline {
		@include tablets {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	&__parameters {
		display: flex;
		margin-bottom: rem(24px);
	}

	&__parametr {
		max-width: rem(104px);
		margin-right: rem(44px);
		&:last-child {
			margin-right: 0;
		}
	}

	&__order {
		display: flex;
	}
	&__price {
		font-weight: 300;
		font-size: rem(60px);
		text-transform: uppercase;
		margin-right: rem(30px);
	}
	&-control__arrow-prew {	
		display: block;
		width: rem(14px);
		height: rem(27px);
		background-image: url("./../../img/2-2_slider/arrow_left.png");
		background-size: contain;
		background-repeat: no-repeat;
		position: absolute;
		top: 45.9%;
	}

	&-control__arrow-next {
		display: block;
		width: rem(14px);
		height: rem(27px);
		background-image: url("./../../img/2-2_slider/arrow_right.png");
		background-size: contain;
		background-repeat: no-repeat;
		position: absolute;
		top: 45.9%;
    right: 8%;
	}
}

