.socials {
	display: flex;
	justify-content: flex-end;
	@include phones {
		margin-bottom: rem(35px);
	}
	&__item {
		margin-right: rem(14px);
		&:last-child {
			margin-right: 0;
		}
	}
	&__img {
		width: rem(20px);
		height: rem(20px);
		&:hover {
			fill: red;
		}
	}
}