.team {
	display: flex;
	&--version--desktop {
		position: absolute;
		top: 25%;
		@include tablets {
			display: none;
		}
	}
	&--version--mobile {
		display: none;
		@include tablets {
			flex-direction: column;
			display: flex;
		}
	}
	&__item {
		display: flex;
		flex-direction: column;
		position: relative;
		flex: 1;
		max-width: rem(221px);
		margin-right: rem(20px);
		@include tablets {
			margin-bottom: rem(16px);
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__member {
		height: rem(288px);
		margin-bottom: rem(21px);
	}
	&__img {
		max-width: rem(220px);
		max-height: rem(290px);
	}
	&__title {
		font-weight: 700;
		font-size: rem(21px);
		width: rem(221px);
		margin-bottom: rem(8px);
		
	}
	&__content {
		display: flex;
		justify-content: center;
		overflow: hidden;
		flex-direction: column;
		height: rem(0px);
		// height: rem(252px);
		transition: height .3s;
		@include tablets {
			height: rem(0px);
			// height: rem(400px);
		}
	}
	&__content-block {
		height: rem(300px);
	}
	&__prof-title {
		font-weight: 400;
		font-size: rem(18px);
		text-align: center;
		margin-bottom: rem(4px);
	}
	&__duties {
		font-size: rem(18px);
		font-weight: 300;
		text-align: center;
		color: #666666;
		;
	}
	}
