.topline {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	&--wherefore {
	}
	&--rewies {
		margin-bottom: rem(32px);
	}
	&--deliver {
		margin-bottom: rem(60px);
	}
	&__title {
		display: block;
	}
	&__title-h2 {
		font-size: rem(48px);
		text-transform: uppercase;;
		font-weight: bold;
		color: $dark;
		&-color {
			color: #365A49;
		}
	}
	&__text {
		font-size: $baseFontSize;
		line-height: rem(22px);
		font-weight: normal;
		// color: $grey;
		max-width: rem(436px);
		text-align: center;
		margin-top: rem(21px);
	}
}
