.topline {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	&--wherefore {
	}
	&--rewies {
		position: absolute;
    top: 10%;
		left: 41%;
		z-index: 50;
		@include tablets {
			top: -12%;
    	left: 38%;
			z-index: 50;
			margin-top: 20%;
		}
		@include phones {
    	left: 29%;
		}
	}
	&--player {
		margin-top: 10%;
		margin-bottom: 5%;
	}
	&--team {
		margin-top: 10%;
	}
	&--mainMenu {
		margin-top: rem(110px);
		margin-left: rem(84px);
	}
	&--deliver {
		margin-bottom: rem(60px);
	}
	&__title {
		display: block;
	}
	&__title-h2 {
		font-size: rem(48px);
		text-transform: uppercase;;
		font-weight: bold;
		color: $dark;
		text-align: center;
		&--colorWhite {
			color: #ffffff;
		}

		&-color {
			color: #365A49;
		}
	}
	&__title-h3 {
		font-size: rem(36px);
		text-transform: uppercase;;
		font-weight: bold;
		color: $dark;
		text-align: left;
		margin-bottom: rem(23px);
		@include tablets {
			text-align: center;
		}
	}
	
	&__text {
		font-size: $baseFontSize;
		line-height: rem(22px);
		font-weight: normal;
		max-width: rem(436px);
		text-align: center;
		margin-top: rem(21px);
		@include phones {
			margin-top: 0;
			max-width: 95%;
		}
	}
}
